
.movie-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.movie-list .movie-list-item {
    flex: 1;
    flex-grow: 0;
    text-align: center;
    max-width: 200px;
    padding-left: 10px;
    padding-right: 10px;
}

.movie-list .movie-list-item h2 {
    font-size: 15pt;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.movie-list .movie-list-item img {
    width: 200px;
    height: 300px;
    transition: all .1s ease-in;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

.movie-list .movie-list-item img:hover {
    transform: scale(1.03);
}