.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.htr-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: navy;
  text-align: center;
  color: white;
  min-height: 10vh;
}

.htr-header h1 {
  padding: 0;
  margin: 0;
}

.htr-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.438);
  min-height: 80vh;
  width: 100vw;
  overflow: hidden;
  width: 100vw;
}

.htr-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: navy;
  color: white;
  min-height: 10vh;
}
